# Logging level for the application (e.g., DEBUG, INFO, ERROR, WARNING, CRITICAL)
LOGGING_LEVEL=INFO

# Pretrained model name for the image captioning (e.g., Salesforce/blip-image-captioning-base)
MODEL_NAME=Salesforce/blip-image-captioning-base

# Whether to use conditional captioning logic (true/false)
USE_CONDITIONAL_CAPTION=true
